process.cache = 'lenient'

nextflowVersion = '>=20.0'

import java.time.*
Date now = new Date()


params {
    day                = now.format("yyyMMdd")
    timestamp          = now.format("yyyyMMdd-HH-mm-ss")
    out                = "Analysis_Results-${day}"
    tracedir           = "${out}"
}

profiles {

    standard { 
        params.vcf = "20210121"
        params.gcp = false

        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            executor = 'slurm'
            queue = 'genomicsguestA'
            clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
            container = 'andersenlab/heritability:v0.2'
        }

        executor {
            queueSize = 500
            submitRateLimit = 5
        }

    }

    gcp { 
        params.gcp = true

        docker {
            enabled = true
        }

        process {
            executor = 'google-lifesciences'
            container = 'andersenlab/heritability:v0.2'
        }

        google {
          project = 'andersen-lab'
          zone = 'us-central1-a'
          lifeSciences {
            serviceAccountEmail = 'nscalc-201573431837@andersen-lab.iam.gserviceaccount.com'
            debug = true
            preemptible = true
          }
        }

        workDir = 'gs://nf-pipelines/workdir/'
        params.binDir = 'gs://nf-pipelines/calc_heritability/'
     }

}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}




