process.cache = 'lenient'

nextflowVersion = '>=20.0'

import java.time.*
Date now = new Date()

// process {

//     maxRetries=3

// }

params {
    day                = now.format("yyyMMdd")
    timestamp          = now.format("yyyyMMdd-HH-mm-ss")
    out                = "Analysis_Results-${day}"
    tracedir           = "${out}"
}

// profiles {

//     standard { includeConfig 'conf/mappings.config' }
//     gcp { includeConfig 'conf/gcp.config' }

// }

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

executor {
    queueSize = 500
    submitRateLimit = 5
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
    conda = "/projects/b1059/software/conda_envs/cegwas2-nf_env"
    module = 'R/3.6.0'
}
